@TiColor: #353535;
@DescColor: #888;
@select: #42b983;
@bgColor: #e9e9e9;

.Tia-player {
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
  background-color: transparent;
  .panel-switch{
    display: none;
  }
  // 歌手控制区域
  .tia-pic {
    width: 4.1em;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
    background-color: @bgColor;
    box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2px;
    float: left;
    .tia-icon {
      position: absolute;
      border-radius: 50%;
      fill: #FFF;
      border: solid 2px #FFF;
      transition: all .2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-play {
      width: 2em;
      height: 2em;
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      svg {
        width: 1.6em;
        height: 1.6em;
      }
    }
    .icon-pause {
      width: 1.2em;
      height: 1.2em;
      bottom: 3px;
      right: 3px;
      svg {
        width: .8em;
        height: .8em;
      }
    }
  }
  // 列表区域
  .tia-list {
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    width: 19.1em;
    height: 0px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2px;
    transition: all .2s ease;
    ol{margin: 0;padding: 0}
    // 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
    &::-webkit-scrollbar  {  
      width: 4px;  
      height: 4px;  
      background-color: transparent;
      // background-color: @bgColor;  
   }
    // 定义滚动条轨道 内阴影+圆角
    &::-webkit-scrollbar-track  {  
      // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
      // border-radius: 10px;
      background-color: transparent;
      // background-color: #FFF;  
    }
    // 定义滑块 内阴影+圆角
    &::-webkit-scrollbar-thumb  {  
      border-radius: 10px;  
      // box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
      background-color: @select;  
   }
    ol {
      list-style-type: none;
      padding: 8px 0;
      height: 100%;
      li{
        cursor: pointer;
        text-align: left;
        line-height: 1.8em;
        padding: 0 8px;
        border-top: solid 1px @bgColor;
        color: @TiColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .9em;
        &:hover {
          background-color: @bgColor;
        }
        &:first-child {
          border-top: 0
        }
        .list-right {
          color: @DescColor;
          // opacity: .6;
          font-size: .8em;
          float: right;
          text-align: right
        }
      }
      .select {
        color: @select;
        background-color: @bgColor;
        &::before{
          content: '';
        }
      }
    }
  }
  // 
  .tia-body {
    height: 4.1em;
    width: 100%;
    // display: flex;
    // m面板
    .tia-panel {
      background-color: #fff;
      // border-top: solid 1px #ccc;
      box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2px;
      height: 100%;
      float: left;
      transition: all .3s ease;
      overflow: hidden;
      // flex: 1;
      // 标题信息
      .tia-info {
        color: @TiColor;
        font-size: .9em;
        line-height: 1.5em;
        padding-left: 8px;
        height: 1.5em;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .m-info{
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .tia-author {
            font-size: .8em;
          }
        }
        .tia-time-info {
          // width: 5.1em;
          // font-size: 12px;
          // color: @TiColor;
          transform: scale(.8);
        }
      }
      
      .tia-bar-warp {
        height: .5em;
        width: 100%;
        padding: 0 .5em;
        box-sizing: border-box;
        // 进度条
        .tia-bar {
          margin-top: 3px;
          height: 2px;
          width: 100%;
          float: left;
          background-color: @bgColor;
          border-radius: 3px;
          cursor: pointer;
          &:hover .bar-control::after{
            background: radial-gradient(#FFF, @select);
          }
          .bar-control {
            height: 2px;
            width: 0;
            display: block;
            transition: all .3s ease;
            background-color: @select;
            &::after {
              content: '';
              width: 8px;
              height: 8px;
              transition: all .3s ease;
              float: right;
              border-radius: 50%;
              // background-color: transparent;
              background: radial-gradient(#FFF, @select);
              background-size: 180% 100%;
              margin-right: -3px;
              margin-top: -3px;
              animation: tia-rotate 3s linear infinite;
            }
          }
        }
      }
      
      // 控制栏
      .tia-control {
        padding: 0 .5em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .tia-icon {
          flex: 1;
          fill: @TiColor;
          cursor: pointer
        }
        .tia-icon>svg {
          width: 1.6em;
          height: 1.6em;
          margin: 3px 0 3px 0
        }
        .tia-icon:hover {
          fill: @TiColor;
          // box-shadow:
        }
        .fast_forward>svg {
          transform: rotate(180deg)
        }
        // 音量控制
        .volume{
          &:hover>.volume-control{
            // display: block;
            width: 120px;
          }
          .volume-control {
            position: absolute;
            // display: none;
            // width: 120px;
            width: 0px;
            background-color: @bgColor;
            height: 5px;
            bottom: 2em;
            border-radius: 2px;
            transition: all .5s ease;
            // margin-top: -42px;
            overflow: hidden;
            cursor: pointer;
            span {
              display: block;
              width: 80%;
              height: 100%;
              border-radius: 2px;
              background-color: @select;
            }
          }
        }
      }
    }
    .on>svg {
      transform: rotate(180deg)
    }
  }
  // 歌词区域
  .tia-lrc {
    position: absolute;
    text-align: center;
    transition: all .3s ease;
    height: 2.5em;
    overflow: hidden;
    .lrc-content {
      transition: all .3s ease;
      p {
        color: @DescColor;
        line-height: 1.2em;
        height: 1.2em;
        transform: scale(.8);
        margin: 0;
      }
      .lrc-cursor {
        line-height: 1.3em;
        transform: scale(1);
        color: @TiColor;
      }
    }
  }
  &.tia-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1022;
    .tia-lrc {
      bottom: 0;
      margin-bottom: .2em;
      width: 100vw;
      height: 2.5em;
      overflow: hidden;
      pointer-events: none;
    }
    .tia-body{
      position: relative;
      z-index: 1022;
      .tia-panel{
        width: 0;
      }
    }
    // 面板切换
    .panel-switch {
      cursor: pointer;
      width: 1em;
      height: 100%;
      float: left;
      display: block;
      box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2px;
      background-color: @bgColor;
      border-radius: 0 3px 0 3px;
      fill: @DescColor;
      svg {
        height: 100%;
        width: 1em
      }
    }
  }
}

div.tia-toast {
  width: 100%;
  z-index: 1024;
  transition: all .3s ease;
  background-color: @TiColor;
  position: fixed;
  bottom: -100px;
  left: 0;
  color: @bgColor;
  display: flex;
  overflow: hidden;
  p{
    flex: 1;
    padding: 0;
    margin: 0;
    padding: 10px 16px;
  }
  .tia-icon{
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 26px;
      height: 26px;
      fill: @bgColor;
    }
    &.load{
      animation: tia-rotate 1.6s linear infinite;
    }
  }
  span{
    background-color: transparent;
    line-height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: @select;
    padding: 0 12px;
    &:hover{
      opacity: .9;
    }
  }
}
@keyframes tia-rotate{
  0%{
    transform: rotateZ(0deg)
  }
  50%{
    transform: rotateZ(180deg)
  }
  100%{
    transform: rotateZ(360deg)
  }
}
@media (min-width:600px) {
  div.tia-toast {
    border-radius: 6px;    
    width: 500px;
    left: calc(50% - 250px);
    p{
      padding: 10px;
    }
  }
}